<h1>お問合わせ</h1>


<%= form_with(model: @contact, local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :cotent %>
    <%= form.text_field :content %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <%= form.submit %>
<% end %>